@charset "utf-8";

#wrapper {
	background: url('../../images/loginbg.jpg') no-repeat scroll center top #BECDB6;
	border: solid 1px #fff;
	margin: 0 auto;
	width: 250px;
	_width: 300px;
	text-align: left;
	padding: 25px;
}

#wrapper a {
	text-decoration: none;
	color: #000;
	border-bottom: dotted 1px #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 55px 0px 20px 0px;
	margin: 0;
}

#msg {
	text-align: center;
	color: #465723;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: #465723;
	font-weight: bold;
	display: block;
}

.textfield {
	background: #b3a58f;
	border: solid 1px #BECDB6;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
}

.textfield:hover,.textfield:focus {
	background: #1B3D1C;
	border: solid 1px #1B3D1C;
	color: #fff;
}

.checkboxfield {
	width: 10%;
}

.checkboxlabel {
	font-size:9px;
	font-weight:bold;
	display:inline !important;
}

.buttonfield {
	background: #1B3D1C;
	border: solid 1px #BECDB6;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px;
	background: #465723;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 250px;
	_width: 300px;
	background: #465723;
}

#footer {
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	font: normal 10px/ normal arial;
	color: #666;
}

#passwordForgotten {
	margin-bottom:15px;
	text-align:left;
	font-size:10px;
	text-decoration:underline;
	cursor:pointer;	
}

#keepConnectionContainer {
	padding-top:10px;
	}