@charset "utf-8";

#wrapper {
	background: url("../../images/bg_page_bottom.png") no-repeat scroll center bottom #aad7f1;
	border: solid 1px #fff;
	margin: 0 auto;
	width: 550px;
	_width: 580px;
	text-align: left;
	padding: 25px;
}

#wrapper a {
	text-decoration: none;
	color: #000;
	border-bottom: dotted 1px #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 15px 0px 20px 0px;
	margin: 0;
}

#msg {
	text-align: center;
	color: #3c8bb9;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: #3c8bb9;
	font-weight: bold;
	display: block;
}

.textfield {
	background: #b3a58f;
	border: solid 1px #aad7f1;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
}

.textfield:hover,.textfield:focus {
	background: #1d5886;
	border: solid 1px #1d5886;
	color: #fff;
}

.buttonfield {
	background: #1d5886;
	border: solid 1px #aad7f1;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px;
	background: #3c8bb9;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 550px;
	background: #3c8bb9;
}

#footer {
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	font: normal 10px/ normal arial;
	color: #666;
}

.day {
	font-size: 14px;
	text-align: center;
	background-color: #3c8bb9;
	color: #FFFFFF;
	font-weight: bold;
}

.match {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.equipeRankUp {
	font-size: 12px;
	color: #1d5886;
	font-weight: bold;
}

.equipeRankDown {
	font-size: 12px;
	color: #1d5886;
	font-weight: normal;
}

.teamAway {
	text-align: left;
	width: 150px;
}

.teamFlag {
	width: 30px;
}

.teamFlag img {
	width: 30px;
	height: 30px;
}

.score {
	width: 80px;
	text-align: center;
}

.teamHome {
	width: 150px;
	text-align: right;
}

.time0 {
	width: 60px;
	padding-left: 20px;
}
.time1 {
	width: 60px;
	padding-left: 20px;
	background: url('" . ROOT_SITE . "/images/star_25.png') no-repeat scroll left center transparent;

}

.day {
	font-size: 14px;
	text-align: center;
	background-color: #3c8bb9;
	color: #FFFFFF;
	font-weight: bold;
}

.match {
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.equipeRankUp {
	font-size: 12px;
	color: #1d5886;
	font-weight: bold;
}

.equipeRankDown {
	font-size: 12px;
	color: #1d5886;
	font-weight: normal;
}

.teamAway {
	text-align: left;
	width: 150px;
}

.teamFlag {
	width: 30px;
}

.teamFlag img {
	width: 30px;
	height: 30px;
}

.score {
	width: 80px;
	text-align: center;
}

.teamHome {
	width: 150px;
	text-align: right;
}

.time0 {
	width: 60px;
	padding-left: 20px;
}
