@charset "utf-8";

#wrapper {
	background: url('../../images/registerbg.png') no-repeat scroll 0 0 #BECDB6;
	border: solid 1px #fff;
	margin: 0 auto;
	width: 405px;
	_width: 455px;
	height: 330px;
	text-align: left;
	padding: 25px;
}
 
 
#wrapper li {
	list-style: none outside none;
} 

#wrapper a {
	text-decoration: none;
	color: #000;
	border-bottom: dotted 1px #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 15px;
	margin: 0;
}

#msg {
	text-align: center;
	color: #465723;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: #465723;
	font-weight: bold;
	display: block;
}

.textfield {
	background: #b3a58f;
	border: solid 1px #BECDB6;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
}

.textfield:hover,.textfield:focus {
	background: #1B3D1C;
	border: solid 1px #1B3D1C;
	color: #fff;
}

.buttonfield {
	background: #1B3D1C;
	border: solid 1px #BECDB6;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px; background : #465723;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 405px;
	background: #465723;
	
}

#footer {
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	font: normal 10px/ normal arial;
	color: #666;
}
#frmRegister div {
	float: left;
	width:300px;
	padding-left:20px;
	padding-top:10px;
	}