@charset "utf-8";

#wrapper {
	border: solid 1px #fff;
	margin: 0 auto;
	width: 500px;
	text-align: left;
	padding: 25px;
	background: #3c8bb9;
	/* border-top: 1px solid #1F0E1E; */
	clear: both;
	background-position: bottom;
}

#wrapper a {
	text-decoration: none;
	color: #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 15px;
	margin: 0;
}

#msg {
	text-align: center;
	color: #3c8bb9;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: #1d5886;
	font-weight: bold;
	display: block;
}

.buttonfield {
	background: #1d5886;
	border: solid 1px #aad7f1;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px;
	background: #3c8bb9;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 500px;
	background: #3c8bb9;
}

