@charset "utf-8";

#wrapper {
	background: url("../../images/bg_page_bottom.png") no-repeat scroll
		center bottom #f8f0e5;
	border: solid 1px #fff;
	margin: 0 auto;
	width: 480px;
	height: 500px;
	text-align: left;
	padding: 25px;
}
 
 
#wrapper li {
	list-style: none outside none;
} 

#wrapper a {
	text-decoration: none;
	color: #000;
	border-bottom: dotted 1px #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 15px;
	margin: 0;
}

#wrapper p {
	font-size:12px;
	color:#365F89;
}

#wrapper h5 {
	font-size:18px;
	color:#365F89;
}
#wrapper h4 {
	font-size:16px;
	color:#365F89;
}

#msg {
	text-align: center;
	color: #6D8AA8;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: #6D8AA8;
	font-weight: bold;
	display: block;
}

.textfield {
	background: #b3a58f;
	border: solid 1px #D7E1F6;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
}

.textfield:hover,.textfield:focus {
	background: #365F89;
	border: solid 1px #365F89;
	color: #fff;
}

.buttonfield {
	background: #365F89;
	border: solid 1px #D7E1F6;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px; background : #6D8AA8;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 480px;
	background: #6D8AA8;
	
}

#footer {
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	font: normal 10px/ normal arial;
	color: #666;
}

.day {
	font-size: 14px;
	text-align: center;
	background-color: #6D8AA8;
	color: #FFF;
	font-weight: bold;
	height: 25px;
}

.match {
	font-size: 12px;
	color: #365F89;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.equipeRankUp {
	font-size: 12px;
	color: #365F89;
	font-weight: bold;
}

.equipeRankDown {
	font-size: 12px;
	color: #365F89;
	font-weight: normal;
}

.teamAway {
	text-align: left;
	width: 150px;
}

.teamFlag {
	width: 30px;
}

.teamFlag img {
	width: 30px;
	height: 30px;
}

.score {
	width: 80px;
	text-align: center;
}

.teamHome {
	width: 150px;
	text-align: right;
}

.time {
	width: 60px;
	padding-left: 20px;
}

#FixedContent {
	overflow:auto;
		width:480px;
		height:450px;
}

#FixedContent .var{
	background-image: url(../../images/sprite.png);
	background-repeat: no-repeat;
	height:25px;
	width:37px;
	padding:0px 25px 15px 15px;

}

#FixedContent .eq  { background-position: -13px -263px; }
#FixedContent .up  { background-position: -15px -315px; }
#FixedContent .down{ background-position: -14px -366px; }

