@charset "utf-8";

#wrapper {
	background: url('../../images/accountbg.png') no-repeat scroll center top #6D8AA8;
	border: solid 1px #fff;
	margin: 0 auto;
	width: 455px;
	_width: 505px;
	height: 450px;
	text-align: left;
	padding: 25px;
}
 
 
#wrapper li {
	list-style: none outside none;
} 

#wrapper a {
	/*
	text-decoration: none;
	color: #000;
	font-size:9px;
	font-weight:normal;*/
		background: #365F89;
	border: solid 1px #D7E1F6;
	color: #FFFFFF;
	font: bold 9px/ normal Tahoma, Verdana;
	padding-top:4px;
	padding-bottom:4px;
	padding-right: 19px; padding-left: 19px;
	text-decoration: none;
	text-align:center;
}

#wrapper a:hover {
	/*color: #000;
	font-weight:bold;*/
		color: #000;
	font-weight:bold;
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

	
#wrapper a.apply {
	background: #365F89;
	border: solid 1px #D7E1F6;
	color: #FFFFFF;
	font: bold 9px/ normal Tahoma, Verdana;
	padding: 4px;
	text-decoration: none;
}

#wrapper a.apply:hover {
	color: #000;
	font-weight:bold;
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wrapper form {
    /* background: url('../../images/accountbg.png') no-repeat scroll center top #6D8AA8; */ 
	padding: 15px;
	margin: 0;
	height:30px;
}

#msg {
	text-align: center;
	color: #FFFFFF;
	padding: 0px 0 3px 0;
}

#wrapper label.title {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	font-size:11px;
}

#wrapper label.titleCheckbox {
	color: #FFFFFF;
	font-weight: bold;
	font-size:11px;
}


#wrapper label.read {
	/* background: #b3a58f; */
	border: solid 1px #D7E1F6;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 87%;
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-weight: normal;
}

#frmAccount .textfield {
	background: #b3a58f;
	border: solid 1px #D7E1F6;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
	text-align:left;
}

#frmAccount .textfield:hover, #frmAccount .textfield:focus {
	background: #365F89;
	border: solid 1px #365F89;
	color: #fff;
}

#frmAccount .buttonfield {
	background: #365F89;
	border: solid 1px #D7E1F6;
	color: #FFFFFF;
	font: bold 11px/ normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

#frmAccount .buttonfield:hover, #frmAccount .buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#wait {
	text-align: center;
	font-size: 10px; background : #6D8AA8;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 455px;
	_width: 505px;
	background: #6D8AA8;
	
}

#footer {
	padding: 10px 0px;
	width: 100%;
	text-align: center;
	font: normal 10px/ normal arial;
	color: #666;
}