label {
	color: #3c8bb9;
	font-weight: bold;
	display: block;
}

label.title {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	font-size: 11px;
}

label.read { /* background: #b3a58f; */
	border: solid 1px #aad7f1;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 87%;
	border-radius: 7px;
	-moz-border-radius: 7px;
	font-weight: normal;
}

.textfield {
	background: #b3a58f;
	border: solid 1px #aad7f1;
	padding: 3px;
	margin: 4px 0px 4px 0px;
	width: 90%;
}

.textfield:hover,.textfield:focus {
	background: #1d5886;
	border: solid 1px #1d5886;
	color: #fff;
}

.checkboxfield {
	width: 10%;
}

.checkboxlabel {
	font-size: 9px;
	font-weight: bold;
	display: inline !important;
}

.buttonfield {
	background: #1d5886;
	border: solid 1px #aad7f1;
	color: #FFFFFF;
	font: bold 11px/normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
	float: right;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

#containerTitle {
	background: url('../../images/account.password.png') no-repeat scroll
		left top #aad7f1;
	height: 360px;
	margin-bottom: 30px;
	_width: 920px;
}

#containerTitle .titleContainer {
	text-align: left;
	color: #1d5886;
	top-margin: 5px;
	left-margin: 10px;
}

#containerTitle div.title {
	position: absolute;
	top: 20px;
	left: 120px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

#containerError {
	display: none;
	position: absolute;
	left: 170px;
	top: 45px;
	background-color: #3c8bb9;
	height: 275px;
	width: 670px;
}

#containerError .titleContainer {
	position: absolute;
	width: 100px;
	top: 5px;
	left: 10px;
}

#containerError div.title {
	width: 110px;
	height: 110px;
	overflow: hidden;
	margin: 20px;
}

#containerError div.title img {
	width: 55px;
	height: 55px;
}

#containerError .content {
	position: absolute;
	top: 20px;
	left: 120px;
	color: #FFFFFF;
	margin-right: 45px;
}

#containerSuccess {
	display: none;
	position: absolute;
	left: 170px;
	top: 45px;
	background-color: #3c8bb9;
	height: 275px;
	width: 670px;
}

#containerSuccess .titleContainer {
	position: absolute;
	width: 100px;
	top: 5px;
	left: 10px;
}

#containerSuccess div.title {
	width: 110px;
	height: 110px;
	overflow: hidden;
	margin: 20px;
}

#containerSuccess .title img {
	width: 55px;
	height: 55px;
}

#containerSuccess .content {
	position: absolute;
	top: 20px;
	left: 120px;
	color: #FFFFFF;
	margin-right: 45px;
}

#containerDataInput {
	position: absolute;
	left: 170px;
	top: 45px;
	background-color: #3c8bb9;
	height: 275px;
	width: 670px;
}

#containerDataInput .titleContainer {
	position: absolute;
	width: 100px;
	top: 5px;
	left: 10px;
}

#containerDataInput div.title {
	width: 110px;
	height: 110px;
	overflow: hidden;
	margin: 20px;
}

#containerDataInput div.title img {
	width: 55px;
	height: 55px;
}

#containerDataInput .content {
	position: absolute;
	top: 20px;
	left: 200px;
}

#accountDiv {
	width: 360px;
	padding-left: 20px;
	padding-top: 0px;
}