.day {
	font-size: 14px;
	text-align: center;
	background-color: #465723;
	color: #FFFFFF;
	font-weight: bold;
}

.match {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.teamRank
{
background: #BECDB6; 
color: #FFF; 
text-align: center
}

.equipeRankUp {
	font-size: 12px;
	color: #1B3D1C;
	
	font-weight: bold;
}
.equipeRankUp .teamRank
{
background: #9AC100; 
color: #FFF; 
text-align: center
}

.equipeRank {
	font-size: 12px;
	color: #1B3D1C;
	font-weight: normal;
}
.equipeRank .teamRank
{
background: #52758E; 
color: #FFF; 
text-align: center
}

.equipeRankDown {
	font-size: 12px;
	color: #1B3D1C;
	font-weight: normal;
}
.equipeRankDown .teamRank
{
background: #DE0000; 
color: #FFF; 
text-align: center
}


.teamAway {
	text-align: left;
	width: 150px;
}

.teamFlag {
	width: 30px;
}

.teamFlag img {
	width: 30px;
	height: 30px;
}

.score {
	width: 80px;
	text-align: center;
}

.teamHome {
	width: 150px;
	text-align: right;
}

.time {
	width: 60px;
	padding-left: 20px;
}