.day {
	font-size: 14px;
	text-align: center;
	background-color: #6D8AA8;
	color: #FFFFFF;
	font-weight: bold;
}

.match {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

.match .detail2 {
	font-size: 9px;
	padding-left: 20px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.equipeRankUp {
	font-size: 12px;
	color: #365F89;
	font-weight: bold;
}

.equipeRankDown {
	font-size: 12px;
	color: #365F89;
	font-weight: normal;
}

.teamAway {
	text-align: left;
	width: 150px;
}

.teamFlag {
	width: 30px;
}

.teamFlag img {
	width: 30px;
	height: 30px;
}
.match.forecastStatus {
	width:20px;
	}
.match.forecastInput {
	width:50px;
	}
.match.forecastsDetail {
	width:100px;
	}
.score {
	width: 80px;
	text-align: center;
}

.teamHome {
	width: 150px;
	_width: 130px;
	text-align: right;
}

.time0 {
	width: 40px;
	padding-left: 20px;
}

.time1 {
	width: 60px;
	padding-left: 20px;
	background: url('../../images/star_25.png') no-repeat scroll left center
		transparent;
}

.postponed {
	color: red;
}

#tendancyHearder {
	text-align: center;
}

#tendancyContent {
	padding-bottom: 15px;
}

#tendancyContent table {
	font-size: 9px;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
	width: 200px;
	text-align: center;
}

#tendancyContent td {
	text-align: center;
	height: 10px;
}

.tableTendancy {
	width: 200px;
	}

.tableTendancy .tdTendancyHome {
	background: url('../../images/green1px.gif') repeat-x scroll left center
		transparent;
	/* background-color: #B3D207; */
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.tableTendancy .tdTendancyDraw {
	background: url('../../images/yellow1px.gif') repeat-x scroll left
		center transparent;
	/* background-color: #2B9BC0; */
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.tableTendancy .tdTendancyAway {
	background: url('../../images/red1px.gif') repeat-x scroll left center
		transparent;
	/* background-color: #EF0000; */
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.forecastInput .textfield {
	background: #b3a58f;
	border: solid 1px #D7E1F6;
	padding: 3px;
	margin: 4px 0 4px 0;
	width: 30px;
	_height: 22px;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}

.forecastInput .textfield:hover,.forecastInput .textfield:focus {
	background: #365F89;
	border: solid 1px #365F89;
	color: #fff;
}

.buttonfield {
	background: #365F89;
	border: solid 1px #D7E1F6;
	color: #FFFFFF;
	font: bold 11px/normal Tahoma, Verdana;
	margin-top: 10px;
	padding: 4px;
}

.buttonfield:hover,.buttonfield:focus {
	background: #000;
	border: solid 1px #fff;
	color: #fff;
	cursor: pointer;
}

input,select {
	border: 1px solid #888;
	background: #ffffff;
	padding: 3px 4px;
	color: #222;
	margin: 0px 5px 0px 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

.title-trigger {
	cursor: pointer;
}

#sameMatchHistory {
	background: url(../../images/arrows.png) no-repeat
		scroll top left #365F89;
	background-position: 5px -47px;
}

#matchesHistory {
	background: url(../../images/arrows.png) no-repeat
		scroll top left #365F89;
	background-position: 5px -47px;
}

#sameMatchHistory.active {
	background: url(../../images/arrows.png) no-repeat
		scroll top left #365F89;
	background-position: 5px -25px;
}

#matchesHistory.active {
	background: url(../../images/arrows.png) no-repeat
		scroll top left #365F89;
	background-position: 5px -25px;
}

.container-history {
	overflow: hidden;
	clear: both;
}

.divHeightSpace {
	height: 20px;
}

#helpContainer {
	margin-left: 40px;
}

.help {
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.help {
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 10px;
}

.onoffswitchcontainer {
	position: absolute;
	left: 24%;
	top: 10%;
}

#helpContainer span.autosave_saving {
	display: none;
}

#frmForecast div.forecastContent {
	overflow: auto;
	width: 860px;
	height: 450px;
	margin: auto;
}

#frmForecast .mainTable {
	width: 100%
}

#frmForecast .dayStatus {
	float: right;
	margin-right: 10px;
	font-size: 10px;
	background: #365F89;
}

.onoffswitch {
	position: relative; width: 70px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #365F89; border-radius: 5px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
	font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "OUI";
	padding-left: 10px;
	background-color: #6D8AA8; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "NON";
	padding-right: 10px;
	background-color: #D7E1F6; color: #365F89;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 5px; margin: 10px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 41px;
	border: 2px solid #999999; border-radius: 5px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0; 
}