@charset "utf-8";

#wrapper {
	border: solid 1px #fff;
	margin: 0 auto;
	width: 500px;
	text-align: left;
	padding: 25px;
	background: #ccc;
	/* border-top: 1px solid #1F0E1E; */
	clear: both;
	background-position: bottom;
}

#wrapper a {
	text-decoration: none;
	color: #000;
}

#wrapper a:hover {
	color: #000;
	border-bottom: solid 1px #000;
}

#wrapper form {
	padding: 15px;
	margin: 0;
}

#msg {
	text-align: center;
	color: #6D8AA8;
	padding: 0px 0 3px 0;
}

#wrapper label {
	color: gray;
	font-weight: bold;
	display: block;
}

#wait {
	text-align: center;
	font-size: 10px;
	background: gray;
	color: #fff;
	padding: 3px 25px 3px 25px;
	width: 500px;
}

